
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="blogApp">
<head>
    <title th:text="#{app.name}">Righe verticali </title>



</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a ui-sref="homeItem" href="" th:text="#{toolbar.home}">Home</a></li>
            <li><a href="#about" th:text="#{toolbar.about}" >About</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#contact" th:text="#{toolbar.contact}">Contact</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" > <span  th:text="#{toolbar.action}"> Actions</span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ui-sref="homeEditListItem" href="" th:text="#{toolbar.action.editList}">Edit list</a></li>
                <li><a ui-sref="createItem" th:text="#{toolbar.action.newItem}">New item</a></li>
                <li><a ui-sref="createSlideShowItem" th:text="#{toolbar.action.newSlideShow}">New Slide show</a></li>
                <li><a href="#" th:text="#{toolbar.action.anotherAction}">Another action</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header" th:text="#{toolbar.action.navHeader}">Nav header</li>
                <li><a href="#" th:text="#{toolbar.action.separatedLink}">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    	<div class="jumbotronVito">
			<h1>Righe verticali</h1>
			<p>Appunti di programmazione generalmente in java.</p>
		</div>
		<div>
    	<form th:action="@{/login}" class="form-horizontal" method="post">
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="nome" th:text="#{login.username}">Username:</label>
	                    </div>
	                    <div class="col-md-10">
	                        <input id="username" name="username" type="text" class="form-control" style="width:150px;"/>
	                    </div>
	                </div>
				</div>
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="nome" th:text="#{login.password}">Password:</label>
	                    </div>
	                    <div class="col-md-10">
	                        <input id="password" name="password" type="password" class="form-control" style="width:150px;"/>
	                    </div>
	                </div>
				</div>
		        <div class="row">
		            <div class="col-md-5" style="text-align: center;">
					</div>
		            <div class="col-md-2" style="text-align: center;">
						<button type="submit" class="btn btn-success btn-sm" onclick="document.forms[0].submit()">
							<span class="glyphicon glyphicon-save"></span><span th:text="#{login.button}"></span>
						</button>
					</div>
		            <div class="col-md-5" style="text-align: center;">
					</div>
		        </div>
		</form>        
		</div>

<!-- 		 <div> -->
<!-- 		    User:<input type='text' name='username' value=''/> -->
<!-- 		    <br/> -->
<!-- 		    Password:<input type='password' name='password'/> -->
<!-- 		    <br/> -->
<!-- 		    <input name="submit" type="submit" value="Login"/> -->
<!-- 		    <br/> -->
<!-- 		 </div> -->

</body>
</html>

