<li ng-repeat="item in $ctrl.lista">
	<img ng-if="item.descendant !=null" id="img_categ_{{item.id}}" ng-click="$ctrl.mostraNascondi(item.id)" src="images/FrecciaElencoChiusa.png"/>
	<img ng-if="item.descendant ==null" id="img_categ_{{item.id}}" src="images/PuntoElenco.png"/>
		<span ng-click="$ctrl.select(item.id)">{{item.categoryName}}</span>
		
	<ul ng-if="item.descendant !=null" id="list_{{item.id}}" style="display:none;list-style-type: none;">
		<category-tree lista="item.descendant" on-select="$ctrl.selectTreeItem(item.id+ ' '+nodo)"></category-tree>
	</ul>
</li>
