<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayoutVito" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div th:fragment="content">
    	<div class="jumbotronVito">
			<h1>Righe verticali</h1>
			<p>Appunti di programmazione generalmente in java.</p>
		</div>
		<div cg-busy="{promise:promessa.promise,message:messaggio,templateUrl:'/templateAttendere'}">
	        <form th:action="@{/rest/upload}" class="form-horizontal" method="post">
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="nome" th:text="#{editSlideShowItem.label.name}">Nome</label>
	                    </div>
	                    <div class="col-md-10">
	                        <input id="nome" class="form-control" th:placeholder="#{editSlideShowItem.placeholder.name}" ng-model="item.nome" ng-blur="validaNome(item.nome)"/>
	                        <p style="color:red;">{{erroreNome}}</p>
	                    </div>
	                </div>
				</div>
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="titolo" th:text="#{editSlideShowItem.label.title}">Titolo</label>
	                    </div>
	                    <div class="col-md-10">
							<input id="titolo" class="form-control" th:placeholder="#{editSlideShowItem.placeholder.title}" ng-model="item.titolo" ng-blur="validaTitolo(item.titolo)"/>
							<p style="color:red;">{{erroreTitolo}}</p>
	                    </div>
	               	</div>
	           </div>    	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="testo" th:text="#{editSlideShowItem.label.text}">Testo</label>
	                    </div>
	                    <div class="col-md-10">
							<textarea id="testo" class="form-control" cols="20" rows="10" ng-model="item.testo" th:placeholder="#{editSlideShowItem.placeholder.text}" ng-blur="validaTesto(item.testo)"></textarea>
							<p style="color:red;">{{erroreTesto}}</p>
	                    </div>
	               	</div>
	           </div>    	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="riassunto" th:text="#{editSlideShowItem.label.summary}">Riassunto</label>
	                    </div>
	                    <div class="col-md-10">
	                        <input class="form-control" th:placeholder="#{editSlideShowItem.placeholder.summary}" ng-model="item.riassunto"/>
	                    </div>
	               	</div>
	           </div>    	
		        <div class="row">
					<div class="form-group">
		            	<div class="col-md-2">
						    <label for="riassunto" th:text="#{editSlideShowItem.label.publishDate}">Data pubblicazione</label>
						</div>
					    <div class="col-md-10">
					        <input class="form-control dateFormat" th:placeholder="#{editSlideShowItem.placeholder.publishDate}" id="dataPubblicazione" ng-model="item.dataPubblicazione"/>
					    </div>
					</div>
		        </div>
		        <div class="row">
					<div class="form-group">
		            	<div class="col-md-2">
						    <label for="riassunto" th:text="#{editSlideShowItem.label.expirationDate}">Data scadenza</label>
						</div>
					    <div class="col-md-10">
					        <input class="form-control dateFormat" th:placeholder="#{editSlideShowItem.placeholder.expirationDate}" id="dataScadenza" ng-model="item.dataScadenza"/>
					    </div>
					</div>
		        </div>
		        <div class="row">
					<div class="form-group">
		            	<div class="col-md-2">
						    <label for="riassunto" th:text="#{editSlideShowItem.label.hiddenDate}">Data nascondi</label>
						</div>
					    <div class="col-md-10">
					        <input class="form-control dateFormat" th:placeholder="#{editSlideShowItem.placeholder.hiddenDate}"  id="dataHidden" ng-model="item.dataHidden"/>
					    </div>
					</div>
		        </div>
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="autore" th:text="#{editSlideShowItem.label.author}">Autore</label>
	                    </div>
	                    <div class="col-md-10">
		                    <input id="autore" class="form-control" th:placeholder="#{editSlideShowItem.placeholder.author}" ng-model="item.autore" ng-blur="validaAutore(item.autore)"/>
		                    <p style="color:red;">{{erroreAutore}}</p>
	                    </div>
	               	</div>
	           </div>    	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="autore" th:text="#{editSlideShowItem.label.tag}">Tag</label>
	                    </div>
	                    <div class="col-md-10">
	                             <select multiple="multiple" size="3"
	                            ng-options="option.name for option in listaTags track by option.id"
	                             ng-model="item.tagSelezionati"
	                            >
	                            </select>
	                    </div>
	               	</div>
	           </div>    	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="nuovoTag" th:text="#{editSlideShowItem.label.newTag}">Nuovi tag</label>
	                    </div>
	                    <div class="col-md-10">
		                    <input class="form-control" th:placeholder="#{editSlideShowItem.placeholder.newTags}" ng-model="item.nuoviTag"/>
	                    </div>
	               	</div>
	           </div>    	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-12">
			
		                    <h3 th:text="#{editSlideShowItem.label.resources}">Allegati</h3>
		                   
		                    <input type="file" nv-file-select="" uploader="uploader" multiple="multiple"  /><br/>
		
		                    <table class="table">
		                        <thead>
		                            <tr>
		                                <th style="width:30%;" th:text="#{editSlideShowItem.label.resources.name}">Nome</th>
		                                <th ng-show="uploader.isHTML5" th:text="#{editSlideShowItem.label.resources.size}">Dimensione</th>
		                                <th ng-show="uploader.isHTML5" th:text="#{editSlideShowItem.label.resources.type}">Tipo</th>
		                                <th th:text="#{editSlideShowItem.label.resources.state}">Stato</th>
		                                <th th:text="#{editSlideShowItem.label.resources.note}">Note</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                        
		                            <tr ng-repeat="ffff in item.listaFileSalvati">
		                                <td><strong><a href="/rest/download?idAllegato={{ffff.idAllegato}}&amp;nomeAllegato={{ffff.nomeAllegato}}" target="_blank">{{ffff.nomeAllegato}}</a></strong></td>
		                                <td ng-show="uploader.isHTML5" nowrap="nowrap"></td>
		                                <td ng-show="uploader.isHTML5" nowrap="nowrap"></td>
		                                <td class="text-center">
		                                    
		                                </td>
		                                <td nowrap="nowrap">
		                                	<textarea class="form-control" cols="80" rows="4" ng-model="ffff.note" placeholder="Note"></textarea>
		                                </td>
		                                <td nowrap="nowrap">
		                                    <button type="button" class="btn btn-danger btn-xs" ng-click="cancellaRipristina(ffff.idAllegato)" ng-show="!isCancellato(ffff.idAllegato)">
		                                        <span class="glyphicon glyphicon-trash"></span> <span th:text="#{editSlideShowItem.label.resources.button.remove}"></span>
		                                    </button>
		                                    <button type="button" class="btn btn-danger btn-xs" ng-click="cancellaRipristina(ffff.idAllegato)" ng-show="isCancellato(ffff.idAllegato)">
		                                        <span class="glyphicon glyphicon-repeat"></span> <span th:text="#{editSlideShowItem.label.resources.button.restore}"></span>
		                                    </button>
		                                </td>
		                            </tr>
		                            
		                            <tr ng-repeat="itemFile in uploader.queue">
		                                <td><strong>{{ itemFile.file.name }}</strong></td>
		                                <td ng-show="uploader.isHTML5" nowrap="nowrap">{{ itemFile.file.size/1024/1024|number:2 }} MB</td>
		                                <td ng-show="uploader.isHTML5" nowrap="nowrap">{{ itemFile.file.type }}</td>
		                                <td class="text-center">
		                                    <span ng-show="itemFile.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
		                                    <span ng-show="itemFile.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
		                                    <span ng-show="itemFile.isError"><i class="glyphicon glyphicon-remove"></i></span>
		                                </td>
		                                <td nowrap="nowrap">
		                                	<textarea class="form-control" cols="80" rows="4" ng-model="note[$index]" placeholder="Note"></textarea>
		                                </td>
		                                <td nowrap="nowrap">
		                                    <button type="button" class="btn btn-danger btn-xs" ng-click="itemFile.remove()">
		                                        <span class="glyphicon glyphicon-trash"></span> <span th:text="#{editSlideShowItem.label.resources.button.remove}"></span>
		                                    </button>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		
		 
			
			            </div>
					</div>
			    </div>
		        <div class="row">
		            <div class="col-md-5" style="text-align: center;">
					</div>
		            <div class="col-md-1" style="text-align: center;">
						<button type="button" class="btn btn-danger btn-sm" ng-click="cancel()">
							<span class=" glyphicon glyphicon-menu-left"></span><span th:text="#{editSlideShowItem.button.cancel}"></span>
						</button>
					</div>
		            <div class="col-md-1" style="text-align: center;">
						<button type="button" class="btn btn-success btn-sm" ng-click="updateItem()">
							<span class="glyphicon glyphicon-save"></span><span th:text="#{editSlideShowItem.button.save}"></span>
						</button>
					</div>
		            <div class="col-md-5" style="text-align: center;">
					</div>
		        </div>
		        <div class="row">
		            <div class="col-md-5" style="text-align: center;">&nbsp;
					</div>
		        </div>
			            
			            
	        </form>
		</div>
    </div>

</html>
