<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content">
    	<div class="jumbotronVito">
			<h1>Righe verticali</h1>
			<p>Appunti di programmazione generalmente in java.</p>
		</div>
		<form th:action="@{/rest/upload}" class="form-horizontal" method="post">

			<div cg-busy="{promise:items.$promise,message:messaggio,templateUrl:'/templateAttendere'}">
				<div class="row"  ng-repeat="item in items">
				    <h3 class="titoloArticolo"><a href="" ng-click="viewItem(item)">{{item.titolo}}</a>

		      		<button class="btn btn-default btn-sm" aria-label="Left Align"  type="button" ng-click="editItem(item)" >
						<span class="glyphicon glyphicon-edit" aria-hidden="true"> </span>
						<span>{{buttonEditItem}}</span>
					</button>
		      		<button class="btn btn-default btn-sm" aria-label="Left Align"  type="button" ng-click="deleteItem(item)">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
						<span>{{buttonDeleteItem}}</span>
					</button>
		      		<button class="btn btn-default btn-sm" aria-label="Left Align"  type="button" ng-click="hideItem(item)" ng-show="!isNascosto(item)">
						<span class="glyphicon glyphicon-eye-close" aria-hidden="true"> </span>
						<span>{{buttonHideItem}}</span>
					</button>
					
		      		<button class="btn btn-default btn-sm" aria-label="Left Align"  type="button" ng-click="showItem(item)" ng-show="isNascosto(item)">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span>
						<span>{{buttonShowItem}}</span>
					</button>
					<span ng-show="isNascosto(item)">{{labelHidden}}</span>
					  </h3>
				      <p class="previewArticolo"><a ui-sref="view({ itemId: item.id })">{{item.riassunto}}</a></p>
		        </div>
			</div>
		  
		</form>
		
    </div>
</html>

