<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayoutVito" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div th:fragment="content">
    	<div class="jumbotronVito">
			<h1>Righe verticali</h1>
			<p>Appunti di programmazione generalmente in java.</p>
		</div>
		<div cg-busy="{promise:promessa.promise,message:messaggio,templateUrl:'/templateAttendere'}">
	        <form th:action="@{/rest/upload}" class="form-horizontal" method="post">
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="nome">{{labelNome}}</label>
	                    </div>
	                    <div class="col-md-10">
	                        <input id="nome" class="form-control" placeholder="{{placeHolderNome}}" ng-model="item.nome" ng-blur="validaNome(item.nome)"/>
					        <p style="color:red;">{{erroreNome}}</p>
	                    </div>
	                </div>
				</div>
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="titolo">{{labelTitle}}</label>
	                    </div>
	                    <div class="col-md-10">
	                            <input id="titolo" class="form-control" placeholder="{{placeHolderTitle}}" ng-model="item.titolo" ng-blur="validaTitolo(item.nome)"/>
	                            <p style="color:red;">{{erroreTitolo}}</p>
	                    </div>
	               	</div>
	           </div>    	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="testo">{{labelText}}</label>
	                    </div>
	                    <div class="col-md-10">
							<textarea id="testo" class="form-control" cols="20" rows="10" ng-model="item.testo" placeholder="{{placeHolderText}}" ng-blur="validaTesto(item.testo)"></textarea>
							<p style="color:red;">{{erroreTesto}}</p>
	                    </div>
	               	</div>
	           </div> 
	              	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="riassunto">{{labelQuantita}}</label>
	                    </div>
	                    <div class="col-md-10">
	                            <input class="form-control" placeholder="{{placeHolderQuantita}}" ng-model="item.quantity"/>
	                    </div>
	               	</div>
	           </div>    	
		        <div class="row">
					<div class="form-group">
		            	<div class="col-md-2">
						    <label for="riassunto">{{labelPublishDate}}</label>
						</div>
					    <div class="col-md-10">
					        <input class="form-control dateFormat" placeholder="{{placeHolderPublishDate}}" id="dataPubblicazione" ng-model="item.dataPubblicazione"/>
					    </div>
					</div>
		        </div>
		        <div class="row">
					<div class="form-group">
		            	<div class="col-md-2">
						    <label for="riassunto">{{labelExpirationDate}}</label>
						</div>
					    <div class="col-md-10">
					        <input class="form-control dateFormat" placeholder="{{placeHolderExpirationDate}}" id="dataScadenza" ng-model="item.dataScadenza"/>
					    </div>
					</div>
		        </div>
		        <div class="row">
					<div class="form-group">
		            	<div class="col-md-2">
						    <label for="riassunto">{{labelHiddenDate}}</label>
						</div>
					    <div class="col-md-10">
					        <input class="form-control dateFormat" placeholder="{{placeHolderHiddenDate}}" id="dataHidden" ng-model="item.dataHidden"/>
					    </div>
					</div>
		        </div>
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="autore">{{labelAuthor}}</label>
	                    </div>
	                    <div class="col-md-10">
		                    <input id="autore" class="form-control" placeholder="{{placeholderAuthor}}" ng-model="item.autore"/>
		                    <p style="color:red;">{{erroreAutore}}</p>
	                    </div>
	               	</div>
	           </div>    	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="autore">{{labelTag}}</label>
	                    </div>
	                    <div class="col-md-10">
	                             <select multiple="multiple" size="3"
	                            ng-options="option.name for option in listaTags track by option.id"
	                             ng-model="item.tagSelezionati"
	                            >
	                            </select>
	                    </div>
	               	</div>
	           </div>    	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-2">
	                        <label for="nuovoTag">{{labelNewTag}}</label>
	                    </div>
	                    <div class="col-md-10">
		                    <input class="form-control" placeholder="{{placeholderNewTag}}" ng-model="item.nuoviTag"/>
	                    </div>
	               	</div>
	           </div>    	
	        	<div class="row">
	            	<div class="form-group">
	                	<div class="col-md-12">
			
		                    <h3>{{labelResource}}</h3>
		                   
		                    <input type="file" nv-file-select="" uploader="uploader" multiple="multiple"  /><br/>
		
		                    <table class="table">
		                        <thead>
		                            <tr>
		                                <th style="width:30%;">{{labelResourceName}}</th>
		                                <th ng-show="uploader.isHTML5">{{labelResourceSize}}</th>
		                                <th ng-show="uploader.isHTML5">{{labelResourceSize}}</th>
		                                <th ng-show="uploader.isHTML5">{{labelResourceProgress}}</th>
		                                <th>{{labelResourceState}}</th>
		                                <th style="width:15%;">{{labelResourceActions}}</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="item in uploader.queue">
		                                <td><strong>{{ item.file.name }}</strong></td>
		                                <td ng-show="uploader.isHTML5" nowrap="nowrap">{{ item.file.size/1024/1024|number:2 }} MB</td>
		                                <td ng-show="uploader.isHTML5" nowrap="nowrap">{{ item.file.type }}</td>
		                                <td ng-show="uploader.isHTML5">
		                                    <div class="progress" style="margin-bottom: 0;">
		                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
		                                    </div>
		                                </td>
		                                <td class="text-center">
		                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
		                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
		                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
		                                </td>
		                                <td nowrap="nowrap">
		                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
		                                        <span class="glyphicon glyphicon-trash"></span> <span>{{labelResourceRemove}}</span>
		                                    </button>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		
		 
			
			            </div>
					</div>
			    </div>
		        <div class="row">
		            <div class="col-md-5" style="text-align: center;">
					</div>
		            <div class="col-md-1" style="text-align: center;">
						<button type="button" class="btn btn-danger btn-sm" ng-click="cancel()">
							<span class=" glyphicon glyphicon-menu-left"></span><span>{{buttonCancel}}</span>
						</button>
					</div>
		            <div class="col-md-1" style="text-align: center;">
						<button type="button" class="btn btn-success btn-sm" ng-click="createItem()">
							<span class="glyphicon glyphicon-save"></span><span>{{buttonSave}}</span>
						</button>
					</div>
		            <div class="col-md-5" style="text-align: center;">
					</div>
		        </div>
		        <div class="row">
		            <div class="col-md-5" style="text-align: center;">&nbsp;
					</div>
		        </div>
			            
			            
	        </form>
		</div>
    </div>

</html>
