  <div style="margin-top:50px;" cg-busy="{promise:cart.$promise,message:messaggio,templateUrl:'/templateAttendere'}">
	<table>
		<tr>
			<th style="width:250px;">
				{{labelProduct}}
			</th>
			<th style="width:90px;">
				{{labelQuantity}}
			</th>
			<th style="width:100px;">
				{{labelPrice}}
			</th>
			<th style="width:100px;">
				{{labelTotale}}
			</th>
		</tr>
		<tr  ng-repeat="d in cart.cartDetailWeb">
			<td>{{d.descrizione}}
			</td>
			<td><input type="text" style="width:50px;" ng-model="d.quantita" ng-blur="validateQuantity(d.quantita)">
			</td>
			<td>{{d.price}}
			</td>
			<td>{{d.price*d.quantita}}
			</td>
			<td >
				<button type="button" class="btn btn-danger btn-xs" ng-click="removeRow(d.idCartDetail,d.descrizione)">
                   <span class="glyphicon glyphicon-trash"></span> <span>{{buttonDelete}}</span>
                </button>
			</td>
		</tr>
	</table>
    <div style="text-align: center;padding-top:20px;">
		<button type="button" class="btn btn-success btn-sm" ng-click="updateCart()">
			<span class="glyphicon glyphicon-save"></span><span>{{buttonSave}}</span>
		</button>
	</div>
  </div>
