  <div style="margin-top:50px;" cg-busy="{promise:cart.$promise,message:messaggio,templateUrl:'/templateAttendere'}">
	<table>
		<tr>
			<th>
				Prodotto
			</th>
			<th>
				Quantità
			</th>
			<th>
				Costo
			</th>
			<th>
				Totale
			</th>
		</tr>
		<tr  ng-repeat="d in cart.cartDetailWeb">
			<td>{{d.descrizione}}
			</td>
			<td><input type="text" ng-model="d.quantita" ng-blur="validateQuantity(d.quantita)">
			</td>
			<td>{{d.price}}
			</td>
			<td>{{d.price*d.quantita}}
			</td>
			<td>
				<button type="button" class="btn btn-danger btn-xs" ng-click="removeRow(d.idCartDetail,d.descrizione)">
                   <span class="glyphicon glyphicon-trash"></span> <span>{{buttonDelete}}</span>
                </button>
			</td>
		</tr>
	</table>
    <div style="text-align: center;">
		<button type="button" class="btn btn-success btn-sm" ng-click="updateCart()">
			<span class="glyphicon glyphicon-save"></span><span>{{buttonSave}}</span>
		</button>
	</div>
  </div>
