<link rel="stylesheet" href='/css/slideshow.css' type="text/css" />


<style>


#slideshowPopup {
	overflow: hidden;
	position: relative;
	width:700;
	height:450;
	text-align:center;
	
}


.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
  
}
.white_content {
  display: none;
  position: absolute;
  top: 55px;
  left: 5%;
  width: 80%;
  height: 90%;
  border: 2px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}  
  



/* these styles are for the demo, but are not required for the plugin */
.zoom {
	display:inline-block;
	position: relative;
}


/* magnifying glass icon */

.zoom:after {
	content:'';
	display:block; 
	width:33px; 
	height:33px; 
	position:absolute; 
	top:0;
	right:0;
}

.zoom img {
	display: block;
}

.zoom img::selection { background-color: transparent; }
</style>  



  <div style="margin-top:50px;" cg-busy="{promise:promessa.promise,message:messaggio,templateUrl:'/templateAttendere'}">
	<image-viewer immagini="immagini"></image-viewer>
	<div style="padding:5px;margin:15px;float:left;width:400px;border-style: solid; border-width: 1px;border-color: black;font-family:tahoma, sans serif;">
		<h1>{{item.titolo}}</h1>
		<p style="font-size: 10pt">Prezzo: {{item.prezzo.valore}}</p>
		<p style="font-size: 10pt">Disponibilità: {{item.quantita}}</p>
		<p style="font-size: 10pt"> Colori:
			<ul ng-repeat="colore in item.coloriSelezionati">
				<li>{{colore.valore}}
			</ul>
		</p>
		<p style="font-size: 10pt"> Taglie:
			<ul ng-repeat="taglia in item.taglieSelezionati">
				<li>{{taglia.valore}}
			</ul>
		</p>
		<p style="font-size: 10pt">
		
				<button type="button" class="btn btn-success btn-sm" ng-click="aggiungiCarrello(item.id,item.nome)">
                   <span class="glyphicon glyphicon-save"></span> <span>{{buttonAddCart}}</span>
                </button>
		
		
		
		</p>
		<p style="font-size: 10pt">{{item.testo}}</p>
	</div>
  </div>
