<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div th:fragment="content">
    	<form th:action="@{/login}" class="form-horizontal" method="post">
        <div class="container theme-showcase">
		 <table>
		    <tr><td>User:</td><td><input type='text' name='username' value=''/></td></tr>
		    <tr><td>Password:</td><td><input type='password' name='password'/></td></tr>
		    <tr><td colspan='2'><input name="submit" type="submit" value="Login"/></td></tr>
		 </table>
 		</div>		
        </form>
    </div>
</html>