    <div th:fragment="content" style="padding-top:20px;">
      <form th:action="@{/rest/upload}" class="form-horizontal" method="post">
      	<div class="container-fluid" style="width:60%; margin:auto;">
			<div class="row padding15Blog">
        		<div class="col-md-3" style="text-align:right;">
        			<label for="tipoItem" >Tipo:</label>
        		</div>
	        	<div class="col-md-6" >
	        		<input id="tipoItem" class="form-control" type="text" required="required" placeholder="Tipo" ng-model="item.tipo"/>
	        	</div>
	       		<div class="col-md-3" style="">
	         	</div>
        	</div>
			<div class="row padding15Blog">
        		<div class="col-md-3" style="text-align:right;">
        			<label for="nome" >Nome:</label>
	        	</div>
	        	<div class="col-md-6" >
        			<input id="nome" class="form-control" type="text" required="required" placeholder="Nome" ng-model="item.nome"/>
        		</div>
       			<div class="col-md-3" style="">
         		</div>
        	</div>
			<div class="row padding15Blog">
        		<div class="col-md-3" style="text-align:right;">
        			<label for="titolo" >Titolo:</label>
	        	</div>
	        	<div class="col-md-6" >
	        		<input id="titolo" class="form-control" type="text" required="required" placeholder="Titolo" ng-model="item.titolo"/>
	        	</div>
	       		<div class="col-md-3" style="">
	         	</div>
        	</div>
			<div class="row padding15Blog">
        		<div class="col-md-3" style="text-align:right;">
	        		<label for="autore" >Autore:</label>
    	    	</div>
        		<div class="col-md-6" >
        			<input id="autore" class="form-control" type="text" required="required" placeholder="Autore" ng-model="item.autore"/>
        		</div>
	       		<div class="col-md-3" style="">
	         	</div>
        	</div>
			<div class="row padding15Blog">
        		<div class="col-md-6" >
         		
         		</div>
        		<div class="col-md-6" style="">
       				<a ng-click="createItem1()" class="btn btn-primary">Avanti</a>
       			</div>
       		</div>
      	</div>
      </form>
    </div>

